/******************************************************************************
* .FILE:         tbar1.rc                                                     *
*                                                                             *
* .DESCRIPTION:  Tool Bar Example 1:  Resource File                           *
*                                                                             *
* .COPYRIGHT:                                                                 *
*    IBM Open Class Library                                                   *
*    Licensed Material - Program-Property of IBM                              *
*    (C) Copyright IBM Corp. 1992, 1997 - All Rights Reserved                 *
*                                                                             *
* .DISCLAIMER:                                                                *
*   The following [enclosed] code is sample code created by IBM               *
*   Corporation.  This sample code is not part of any standard IBM product    *
*   and is provided to you solely for the purpose of assisting you in the     *
*   development of your applications.  The code is provided 'AS IS',          *
*   without warranty of any kind.  IBM shall not be liable for any damages    *
*   arising out of your use of the sample code, even if they have been        *
*   advised of the possibility of such damages.                               *
*                                                                             *
* .NOTE: WE RECOMMEND USING A FIXED SPACE FONT TO LOOK AT THE SOURCE          *
*                                                                             *
******************************************************************************/
#include <icconst.h>
#include "tbar1.h"

ICON ID_MAIN_WINDOW tbar1.ico

MENU ID_MAIN_WINDOW
BEGIN
  SUBMENU "~Edit",          ID_EDIT
  BEGIN
    MENUITEM "~Copy",       IC_ID_COPY
    MENUITEM "Cu~t",        IC_ID_CUT
    MENUITEM "~Paste",      IC_ID_PASTE
  END
  SUBMENU "~Toolbar",       ID_TOOLBAR
  BEGIN
    MENUITEM "Show ~bitmaps only",     ID_SHOWBITMAPS
    MENUITEM "Show ~text only",        ID_SHOWTEXT
    MENUITEM "Show text ~and bitmaps", ID_SHOWTEXTANDBITMAPS
    MENUITEM SEPARATOR
    MENUITEM "Top",                    ID_TOOLBAR_TOP
    MENUITEM "Bottom",                 ID_TOOLBAR_BOTTOM
    MENUITEM "Left",                   ID_TOOLBAR_LEFT
    MENUITEM "Right",                  ID_TOOLBAR_RIGHT
    MENUITEM "Floating",               ID_TOOLBAR_FLOATING
    MENUITEM SEPARATOR
    MENUITEM "Hide",                   ID_TOOLBAR_HIDE
  END
END

STRINGTABLE PRELOAD
BEGIN
  STR_TOOLBAR                     , "Toolbar"
  ID_MAIN_WINDOW                  , "Tool Bar Sample 1"
  IC_ID_CUT                       , "Cut"
  IC_ID_COPY                      , "Copy"
  IC_ID_PASTE                     , "Paste"
  IC_ID_BOLD                      , "Bold"
  IC_ID_ITALIC                    , "Italic"
  IC_ID_UNDERSCORE                , "Underscore"
  ID_FONTCOMBO                    , "Select font"
  OFFSET_INFOTEXT+IC_ID_CUT       , "Removes the marked text and places it on the clipboard."
  OFFSET_INFOTEXT+IC_ID_COPY      , "Copies the marked text to the clipboard."
  OFFSET_INFOTEXT+IC_ID_PASTE     , "Pastes the text from the clipboard at the cursor."
  OFFSET_INFOTEXT+IC_ID_BOLD      , "Changes the text to Bold."
  OFFSET_INFOTEXT+IC_ID_ITALIC    , "Changes the text to Italic."
  OFFSET_INFOTEXT+IC_ID_UNDERSCORE, "Changes the text to Underscore."
  OFFSET_INFOTEXT+ID_FONTCOMBO    , "Combo-box to select a new font."
  STR_MSGBOX_TITLE                , "Warning - File not found"
  STR_FILE_NOT_FOUND              , "Unable to load the default text file from the current directory."
END

