/*
 * IBM VisualAge C++ Professional, Version 4.0
 *
 * Licensed Materials - Property of IBM
 *
 * (C) Copyright IBM Corp. 1998. All Rights Reserved.
 *
 * The following [enclosed] code is sample code created by IBM
 * Corporation.  This sample code is not part of any standard IBM product
 * and is provided to you solely for the purpose of assisting you in the
 * development of your applications.  The code is provided 'AS IS',
 * without warranty of any kind.  IBM shall not be liable for any damages
 * arising out of your use of the sample code, even if they have been
 * advised of the possibility of such damages.
 */

#include "dllbm.h"

/* OS2 and AIX are using the same rc file format */
#ifdef __WINDOWS__
BM_PAGE1   BITMAP     tajmahal.bmp
BM_PAGE2   BITMAP     monument.bmp
BM_PAGE3   BITMAP     cheetah.bmp
#else
BITMAP     BM_PAGE1   tajmahal.bmp
BITMAP     BM_PAGE2   monument.bmp
BITMAP     BM_PAGE3   cheetah.bmp
#endif

