/******************************************************************************
* .FILE:         ahellow3.rc                                                  *
*                                                                             *
* .DESCRIPTION:  Hello World Sample Program Version 3:  Resource Definitions  *
*                                                                             *
* .COPYRIGHT:                                                                 *
*    IBM Open Class Library                                                   *
*    Licensed Material - Program-Property of IBM                              *
*    (C) Copyright IBM Corp. 1992, 1997 - All Rights Reserved                 *
*                                                                             *
* .DISCLAIMER:                                                                *
*   The following [enclosed] code is sample code created by IBM               *
*   Corporation.  This sample code is not part of any standard IBM product    *
*   and is provided to you solely for the purpose of assisting you in the     *
*   development of your applications.  The code is provided 'AS IS',          *
*   without warranty of any kind.  IBM shall not be liable for any damages    *
*   arising out of your use of the sample code, even if they have been        *
*   advised of the possibility of such damages.                               *
*                                                                             *
* .NOTE: WE RECOMMEND USING A FIXED SPACE FONT TO LOOK AT THE SOURCE          *
*                                                                             *
******************************************************************************/
#include "ahellow3.h"

//**************************************************************************
// icon and bitmap resources                                               *
//   Relate symbolic name to file containing main window icon.             *
//**************************************************************************
ICON WND_MAIN ahellow3.ico

//**************************************************************************
// string resources                                                        *
//   Relate symbolic names to literal text strings.                        *
//**************************************************************************
STRINGTABLE
  BEGIN
    STR_HELLO,  "Hello, World!!!"
    WND_MAIN,   "Hello World Sample - Version 3"
    STR_INFO,   "Use Alt-F4 to Close Window"
    MI_ALIGNMENT,"Alignment Menu"
    MI_CENTER,  "Set Center Alignment"
    MI_LEFT,    "Set Left Alignment"
    MI_RIGHT,   "Set Right Alignment"
    STR_CENTER, "Center Alignment"
    STR_LEFT,   "Left Alignment"
    STR_RIGHT,  "Right Alignment"
  END

//**************************************************************************
// Menu bar for main window - used by IMenuBar Class                       *
//   Define menu bar layout and relate symbolic names to menu item strings.*
//**************************************************************************
MENU WND_MAIN
  BEGIN
        SUBMENU "~Alignment", MI_ALIGNMENT
          BEGIN
            MENUITEM "~Left",       MI_LEFT
            MENUITEM "~Center",     MI_CENTER
            MENUITEM "~Right",      MI_RIGHT
          END
  END

